* {
    background-color: #53809d;
}
#canvasDiv {
    border: 10px inset #2d579d;
    border-radius: 10px;
    width: 64vw;
    height: 36vw;
    margin: 100px 0 0 18vw;
}
canvas {
    width: 64vw;
    height: 36vw;
}